[submodule "client"]
	path = client
	url = https://github.com/khashazad/cardillelab-lakes-interface.git
[submodule "server"]
	path = server
	url = https://github.com/khashazad/cardillelab-lakes-server.git
